
 <!-- TOP NAV -->
 <div class="topmenu">
  <div class="row">
    <div class="col-sm-3">
      <ul class="top left">
        <li><i class="fa fa-phone"></i> 786.897.1134</li>
      </ul>
    </div>
  </div>
</div>
<!-- END OF TOP NAV -->

<!-- HEADER -->
<div class="header">
 <div class="row">
  <div class="col-sm-3">
    <div class="logo">
      <%= image_tag 'logo.png' %>
      </a>
    </div>
  </div>
  <div class="col-sm-9">

    <nav id="desktop-menu">
      <ul class="sf-menu" id="navigation">
        <li class="current"><a href="index.html">Home</a>
        </li>
        <li><a href="#">Services</a>
          <ul>
            <li><a href="hosting.html">Website Management</a></li>
            <li><a href="development.html">Web Development</a></li>
            <li><a href="internet_marketing.html">Internet Marketing</a></li>
          </ul>
        </li>
        <li><a href="#">Who We Are</a>
          <ul>
            <li><a href="about.html">About</a></li>
            <li><a href="faq.html">FAQ</a></li>
          </ul>
        </li>
        <li><%= link_to "Contact", welcome_contact_path %></li>
      </ul>
    </nav>
  </div>
</div>
</div>
<!-- END OF HEADER -->

<!-- Video -->
<div id="home-intro">
  <div class="home-intro-container">
    <div class="introcaption">
      <h2>Website Solutions for <span id="js-rotating"> Businesses, Enterprises</span></h2>
      <h4>We are Software Developers First</h4>
    </div>

    <video autoplay loop muted poster="#" class="hidden-xs">
       <%= video_tag("video.mp4") %>
        <%= video_tag("video.webm") %>
          <%= video_tag("video.ogv") %>
          </video>
        </div>
      </div>
      <!-- End of Video -->

      <!-- Features Multicolors -->
      <div class="introcolumns">
       <div class="row">
        <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
          <div class="circle white"><i class="fa fa-edge"></i></div>
          <h4>Website Development</h4>
          <p>We are experts at developing Mobile-Responsive websites.</p>
        </div>

        <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
          <div class="circle white"><i class="fa fa-expeditedssl"></i></div>
          <h4>Website Management</h4>
          <p>We offer plans to regularly update and change up your content so you don't have to.</p>
        </div>

        <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="circle white"><i class="fa fa-line-chart"></i></div>
          <h4>Internet Marketing</h4>
          <p>Increase Local Search Position and engage consumers in your area.</p>
        </div>
      </div>
    </div>
    <!-- End of Features Multicolors -->

    <!-- CALLOUT TEXT / BUTTON -->
    <div class="calltoaction wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
      <%= image_tag('calltoaction.jpg') %>
      <div class="row">
        <div class="col-sm-12">
          <h2 class="text-center">OUR WEBSITES ARE 50% FASTER<span>THAN THE REST OF THE INTERNET</span></h2>
          <div class="text-center"><a class="mtr-btn button-fab ripple" href="contact.html">GET A QUOTE</a></div>
        </div>
      </div>
    </div>
    <!-- END OF CALLOUT TEXT / BUTTON -->

    <!-- PRICE BOXES -->
    <div class="pricingbox">
      <div class="row">
        <div class="col-sm-12 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
          <h3>NEED TO SIGN UP FOR HOSTING?</h3>
           <div class="titleborder dark centered">
<div class="titleborder_left"></div>
<div class="titleborder_sign"></div>
<div class="titleborder_right"></div>
</div>
          <p>Click the ordering buttons below to sign up for a selected Hosting Plan.</p>
        </div>
      </div>

      <div class="row spacing-25">

        <div class="col-sm-4">
          <div class="pricing-plan red wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
            <div class="pricing-title">Economy</div>
            <div class="pricing-price"><div class="starting">STARTING AT</div>$14.99<span>/m</span></div>
            <div class="pricing-features">
              <ul>
                <li>2GB Storage</li>
                <li>24/7 Uptime</li>
                <li>Unlimited Bandwidth</li>
                <li>Nameserver Transfer Included</li>
              </ul>
            </div>
            <div class="text-center"><a class="mtr-btn button-raised ripple" href="http://tinktanksoftware.com/whmcs/cart.php?a=add&pid=11">ORDER NOW</a></div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="pricing-plan purple wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div class="pricing-title">Directed</div>
            <div class="pricing-price"><div class="starting">STARTING AT</div>$39.99<span>/m</span></div>
            <div class="pricing-features">
              <ul>
                <li>Includes Website Maintenance</li>
                <li>5GB Storage</li>
                <li>24/7 Uptime</li>
                <li>Unlimited Bandwidth</li>
                <li>Monthly Content Updating</li>
                <li>Nameserver Transfer Included</li>
              </ul>
            </div>
            <div class="text-center"><a class="mtr-btn button-raised ripple" href="http://tinktanksoftware.com/whmcs/cart.php?a=add&pid=8">Order Now</a></div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="pricing-plan blue wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="pricing-title">Dedicated</div>
            <div class="pricing-price"><div class="starting">STARTING AT</div>$99.99<span>/m</span></div>
            <div class="pricing-features">
              <ul>
                <li>Dedicated Maintenance/Site Content Management</li>
                <li>Bi-Weekly Content Updating</li>
                <li>24/7 Security Monitoring</li>
                <li>15GB Storage</li>
                <li>Unlimited Bandwidth Limits</li>
                <li>Search Engine Keyword Optimization</li>
                <li>Nameserver Transfer Included</li>
              </ul>
            </div>
            <div class="text-center"><a class="mtr-btn button-raised ripple" href="http://tinktanksoftware.com/whmcs/cart.php?a=add&pid=10">Order Now</a></div>
          </div>
        </div>

      </div>
    </div>
    <!-- END OF PRICE BOXES -->
    <section>
        <div class="row">
        <h1>Instagram Lookup</h1>
          <% @popular.each do |popular| %>
          <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
              <%= image_tag popular.images.low_resolution.url %>
              <div class="caption">
                <%= popular.user.username %>
              </div>
            </div>
          </div>
        <% end %>
        </div>
    </section>
    

   <!-- FEATURES -->
  <div class="features-tabs">
    <div class="row">
      <div class="col-sm-12">

       <!-- TABS -->
       <div class="tabbable tabs-top-horizontal">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#managed" data-toggle="tab"><i class="fa fa-life-ring lightblue"></i>Website Management</a></li>
          <li><a href="#backups" data-toggle="tab"><i class="fa fa-archive lightblue"></i>Version Control</a></li>
          <li><a href="#monitoring" data-toggle="tab"><i class="fa fa-th-list lightblue"></i>INTERNET MARKETING</a></li>
          <li><a href="#cdn" data-toggle="tab"><i class="fa fa-maxcdn lightblue"></i>Site Optimization</a></li>
        </ul>
        <div class="tab-content">

         <div class="tab-pane fade in active" id="managed">
           <h4>LET US MANAGE YOUR SITE</h4>
           <p class="subtitle">We know you are busy so we aim to take the stress off your back when it comes to your site. We accept Images and Content through Dropbox or Email. </p>

           <div class="row spacing-25">
            <div class="col-md-11 col-sm-12 center-block">

              <div class="block-grid-sm-3 block-grid-xs-1 fully-managed">

                <div class="block-grid-item">
                  <img src="images/icon1.png" alt="" />
                  <h5>SITE MANAGEMENT</h5>
                  <p>We have Website Management plans for Monthly and Bi-Weekly Content Updating.</p>
                </div>

                <div class="block-grid-item">
                  <img src="images/icon2.png" alt="" />
                  <h5>PERSONALIZED SUPPORT</h5>
                  <p>If you have any problems or see something wrong we can normally fix the problem within 24 hours.</p>
                </div>

                <div class="block-grid-item">
                 <img src="images/icon3.png" alt="" />
                 <h5>INTERNET MARKETING</h5>
                 <p>We offer an All-Inclusive Internet marketing service in which we continually optimize content and use advanced techniques to boost your google search ranking.</p>
               </div>

               <div class="block-grid-item">
                <img src="images/icon4.png" alt="" />
                <h5>VERSION CONTROL</h5>
                <p>We use Github Version Control to control your websites state and version for issue prevention.</p>
              </div>

              <div class="block-grid-item">
                <img src="images/icon5.png" alt="" />
                <h5>DNS LOOKUP PRIVACY</h5>
                <p>All of our plans include Privacy Protection. Your personal information is not visible to Attackers performing DNS-Lookups.</p>
              </div>

              <div class="block-grid-item">
               <img src="images/icon6.png" alt="" />
               <h5>24/7 SECURITY MONITORING</h5>
               <p>Our Webservers employ 24/7 Security Monitoring to detect malicious attacks on your Website or Server.</p>
             </div>
           </div>
         </div>
       </div>

     </div>

     

     <div class="tab-pane fade" id="backups">
       <h4>VERSION CONTROL</h4>
       <p class="subtitle">We use Github Version Control to maintain your Website or Web application versions.</p>

       <div class="row spacing-25">
       <div class="col-md-11 col-sm-12 center-block">
       <div class="row no-gutter">
       <div class="backups-restore">
       <div class="col-sm-3 backupcolumn">
       <h5 class="lightblue">Browser Access</h5>
       <p>With Github we are able to provide a cloud backed repository to ensure your sites Data Integrity.</p>
       </div>
       <div class="col-sm-3 backupcolumn">
       <h5 class="purple">Source Code Access</h5>
       <p>Your Website Repository will only be available through Private access ensuring the protection of your sites source code.</p>
       </div>
        <div class="col-sm-3 backupcolumn">
       <h5 class="lightblue">Ease of Maintenance</h5>
       <p>We can maintain the version of your website across different version branches in case of problems.</p>
       </div>
        <div class="col-sm-3 backupcolumn">
       <h5 class="purple">Optimization</h5>
       <p>Version Control allows us to constantly have access to a visual representation of your Websites source code improving the optimization process.</p>
       </div>
       </div>
       </div>
       </div>
</div>
     </div>


     <div class="tab-pane fade" id="monitoring">
      <h4>INTERNET MARKETING</h4>
     <div class="row spacing-25">
             <div class="col-md-6 col-sm-12"><img src="images/mon-tab.jpg" alt=""/></div>

       <div class="col-md-6 col-sm-12"> <p>We are Software Developers first and thoroughly understand Search Engine Indexing algorithms. </p>
       <p>We use Advanced techniques to build your business presence online. We identify your competitors identify their Internet Marketing flaws and capitalize. </p>
       <p>We also provide targeted GEO Located SEO Services.</p>

       <ul>
        <li><i class="fa fa-long-arrow-right"></i> Internet Marketing</li>
        <li><i class="fa fa-long-arrow-right"></i> Website Development</li>
        <li><i class="fa fa-long-arrow-right"></i> Search Engine Optimization</li>
        <li><i class="fa fa-long-arrow-right"></i> Website Hosting</li>
      </ul></div>

        </div>
        </div>

     <div class="tab-pane fade" id="cdn">
       <h4>GOOGLE LIKES FAST</h4>

      <div class="row spacing-25">
             <div class="col-md-6 col-sm-12"><img src="images/tab-img.jpg" alt=""/></div>

       <div class="col-md-6 col-sm-12"> <p>Your Website speed and Mobile-Responsiveness is critical to driving your Search Engine Ranking against your competitors.</p> <p> On Average our websites are over 50% faster than the rest of the internet.</p>
       <p></p>

       <ul>
        <li><i class="fa fa-long-arrow-right"></i> Internet Marketing</li>
        <li><i class="fa fa-long-arrow-right"></i> Website Development</li>
        <li><i class="fa fa-long-arrow-right"></i> Search Engine Optimization</li>
        <li><i class="fa fa-long-arrow-right"></i> Website Hosting</li>
      </ul></div>

        </div>
        </div>



   </div>
 </div>
 <!-- END OF TABS -->

</div>
</div>
</div>
<!-- END OF FEATURES -->



<!-- NEW PLANS -->
<div class="newplans">

  <div class="row">
   <h3>Who We Are</h3>
  <div class="newplans_box"></div>
   <div class="spacing-25"></div>
   <div class="col-md-4 col-sm-12 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
   <div class="newplanscolumn">
   <h5>Company Info</h5>
      <p>We are an Internet Marketing and Website Development company located in Pensacola, FL. </p><p>We know that getting an advantage over your compeitition is important and your Web Presence is an important part of your Business. So, we offer an Active Service that lets us not only Develop your Web presence but Actively manage it for you so you can focus on your business. </p>
      <P>Our services are not only limited to the Web we offer Mobile Application Development and other Software Consultation services.</P>
      </div>
    </div>

     <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
     <div class="newplanscolumn">
     <h5>All-Inclusive Internet Marketing</h5>
      <ul>
        <li><i class="fa fa-check color"></i> Active Content Keyword Optimization</li>
        <li><i class="fa fa-check color"></i> Integration of Google Analytics</li>
        <li><i class="fa fa-check"></i> Website Traffic and Conversion Reports</li>
        <li><i class="fa fa-check"></i> Website Speed Optimization</li>
        <li><i class="fa fa-check"></i> Local Citations</li>
        <li><i class="fa fa-check"></i> Mobile Responsive Website-Development</li>
      </ul>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
    <div class="newplanscolumn">
    <h5>Website Development</h5>
        <p>All of our Websites are Mobile-Responsive, which means they look great on phones and Computers. We go to great lengths to understand your business to deliver a Website that represents your business. </p>
        <p>All of our Websites are tested throughly and reviewed for data accuracy before delivery. We include Initial Business Registration with Google, Alexa, Yelp, and Bing with all of our Website services.</p>
     </div>
   </div>
 </div>
</div>

<!-- END O NEW PLANS -->

<!-- FOOTER -->
<div class="footer">
  <div class="row">

   <div class="col-sm-3">
    <h4>Hosting</h4>
    <ul>
      <li><a href="http://tinktanksoftware.com/whmcs/cart.php?a=confproduct&i=1" title="">Economy Hosting</a></li>
      <li><a href="http://tinktanksoftware.com/whmcs/cart.php?a=confproduct&i=2" title="">Directed Hosting</a></li>
      <li><a href="http://tinktanksoftware.com/whmcs/cart.php?a=confproduct&i=3" title="">Dedicated VPS</a></li>
    </ul>
  </div>

  <div class="col-sm-3">
    <h4>COMPANY</h4>

    <ul>
      <li><a href="#" title="">About Us</a></li>
      <li><a href="#" title="">Privacy Policy</a></li>
      <li><a href="#" title="">Acceptable Usage Policy</a></li>
      <li><a href="#" title="">Terms & Conditions</a></li>
      <li><a href="#" title="">DMCA Policy</a></li>
    </ul>
  </div>

  <div class="col-sm-3">
    <h4>NEWSLETTER SIGNUP</h4>
    <div id="mc_embed_signup">
      <form class="form-inline validate material" action="http://eepurl.com/bVO3VH" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
       <input id="mce-EMAIL" type="email" name="EMAIL" placeholder="E-mail" required>
       <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_b5638e105dac814ad84960d90_9345afa0aa" tabindex="-1" value="">
      </div>
      <input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="mtr-btn button-purple">
    </form>
  </div>
</div>
</div>
</div>
<!-- END FOOTER -->

<!-- SOCIAL & COPYRIGHT -->
<div class="social">
  <div class="row">
    <div class="col-sm-12">
     <ul class="social-links">
      <li><a href="https://plus.google.com/102731333253645964125/about" title="Google+"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="https://www.instagram.com/tinktanksoftware" title="Instagram"><i class="fa fa-instagram"></i></a></li>
      <li><a href="https://github.com/chrisrijos" title="Github"><i class="fa fa-github-alt"></i></a></li>
    </ul>
    <p class="text-center">Copyright© TinkTank Software LLC. All rights reserved.</p>
  </div>
</div>
</div>
<!-- END OF SOCIAL & COPYRIGHT -->


<a href="#top" id="back-to-top" class="ripple"><i class="fa fa-angle-up "></i></a>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/morphext.min.js"></script>
<script src="js/hoverIntent.js"></script>
<script src="js/superfish.min.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/ripple-effect.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.form.min.js"></script>
<script src="js/jquery.slicknav.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/custom.js"></script>
<script>
  (function($) {
    "use strict";

    $(window).load(function() {
   // ______________ WORDS ROTATOR ON HERO
   $(".introcaption").css({ opacity: "1" });
   $("#js-rotating").Morphext({
    animation: "flipInX",
    separator: ",",
    speed: 2500
  });
 });

    $(document).ready(function() {
    // ______________ DOMAIN SEARCH SHOW/HIDE
    $('#showdomainsearch').click(function() {
      $('.domainform').slideToggle("slow");
    });

    // ______________ TESTIMONIALS CAROUSEL
    $("#testimonials-carousel").owlCarousel({
      items: 3,
      autoPlay: 5000,
      itemsDesktop: [1199, 3],
      itemsDesktopSmall: [979, 2],
      itemsTablet: [768, 2]
    });
  });

  })(jQuery);
</script>
</body>
</html>